<p>
    Messages
</p>

<ul>
    {{#each messages}}
        <li><b>{{ firstName }} {{ lastName }}:</b> {{ text }} <a href="delete/{{id}}" class="removeLink">Remove</a><a href="update/{{id}}" class="removeLink">Update</a></li>
    {{/each}}
</ul>



<form class="" action="/message/messages" method="post">
    <input type="text" name="message" value=""><br>
    <button>Send Message!</button>
</form>

<br>
<a href="../session/logout">Logout</a>