<p>
    Messages
</p>

<ul>
    {{#each messages}}
        <li><p class="messageName"><b>{{ firstName }} {{ lastName }}:</b></p><p> {{{ text }}} </p><a href="delete/{{id}}" class="removeLink">Remove</a><a href="update/{{id}}" class="removeLink">Update</a></li>
    {{/each}}
</ul>

<textarea id="textArea" form="message" name="textArea"></textarea>

<form id="message" action="/message/messages" method="post">
    <button>Send Message!</button>
</form>

<br>
<a href="../session/logout">Logout</a>